<!DOCTYPE html>
<html>
<head>
    <title>Cube Mode Selector</title>
    <meta name="viewport" content="width=350px, user-scalable=no">
    <style>
        .select-process, .stop-processes {
            display: block;
            width: 100%;
            height: 60px;
            margin-bottom: 30px;
            font-size: 12pt;
        }
    </style>
    <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.select-process').on('click', function() {
                var process = $(this).attr('data-process')
                console.log(process);
                $.ajax({
                    url: '/api/start',
                    type: 'POST',
                    data: JSON.stringify({
                        'process': process
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json'
                });
            });

            $('.stop-processes').on('click', function() {
                $.ajax({
                    url: '/api/stop',
                    type: 'POST',
                    data: JSON.stringify({}),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json'
                });
            });
        });
    </script>
</head>
<body>
    <h1>Cube Mode Selector</h1>
    <% for (var i=0; i<processes.length; i++) { %>
        <button class="select-process" data-process="<%= processes[i] %>">Start <%= processes[i] %></button>
    <% } %>
    <button class="stop-processes">Stop</button>    
</body>
</html>